@import "tailwindcss";
@import "@heroui/styles";
@plugin "daisyui";


:root {
  --background: #ffffff;
  --foreground: #2C3947;
  --secondary: #218b82;
  --btnBg: #1a877e;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--primary);
  font-family: Roboto, sans-serif;
  max-width: 1300px;
  margin: 0 auto;
  
}
